.header {
    font-family: "Arial";
    font-size: 64pt;
    color: black;
    width: 100%;
    padding: 1%;
    margin: auto;
}

.url_input {
    padding: 5px;
}

#lengthen_url {
    font-family: "Arial";
    margin: auto;
    width: 75%;
}

#long_url_result {
    width: 50%;
    word-wrap: break-word;
    margin: left;
}

.submit_url {
    margin-top: 5px;
}

#success_result {
    visibility: hidden;
}

#failure_result {
    visibility: hidden;
}
