<link rel="stylesheet" href="main.css">
<script src="main.js"></script>

<div class="header">
   LengthyURL.com
</div>
<div id="lengthen_url">
    <form action="/new_url" method="post">
        <h3>
            URL:
        </h3>
        <input id="url_input" type="url" name="path" class="url_input"><br>
        <button type="button" onclick="submitURL()">Get My LengthyURL™</button>
    </form>
    <div id="long_url_result">

    </div>
</div>